#hourly-mobile {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on iOS */
  padding-bottom: 10px;
  /* Space for scrollbar if visible */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#hourly-mobile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hourly-mobile {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hourlyIcons {
  width: 50px;
  height: 50px;
}